@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Ubuntu-Bold;
	src: url(./assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
	font-family: Ubuntu-Regular;
	src: url(./assets/fonts/Ubuntu-Regular.ttf);
}
@font-face {
	font-family: Ubuntu-Medium;
	src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

@layer components {
	.input-wrapper {
		@apply flex flex-col gap-1;
	}
	.label {
		@apply font-ubuntuR text-c1;
	}

	.input {
		@apply border-[1.75px] rounded-lg px-4 py-2.5 font-ubuntuM text-lg placeholder:font-ubuntuM focus:outline-c2 hover:outline-c2;
	}
}

.navigator {
	background-image: url(./assets/images/bg-sidebar-desktop.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 768px) {
	.navigator {
		background-image: url(./assets/images/bg-sidebar-mobile.svg);
	}
}
